{% extends 'aplicacion/home.html' %}
{% block titulo %}

<h1>Acerca de mi</h1>
{% endblock titulo %}
{% block contenido %}

 <h3>Hola! Mi nombre es Yesica Keiddine,</h3> 
 <p>Tengo 24 años y me encuentro terminando la carrera de Contador Publico. 
    ¿Y por qué llegué al mundo de la programación? Jugando con excel, me di cuenta que me divertia mucho buscar el cómo,
    cómo hacer que esta plantilla haga lo que necesito de una forma. Y el simple hecho de buscar un error tambien me entretenia, 
    asi que decidí ampliar ese universo de posibilidades conociendo python, programa con el cual ya habia tenido acercamientos pero nunca habia llegado a hacer un proyecto funcional asi que muchas gracias por eso coderhouse!
    <br>
    Ahora, mi plan es continuar aprendiendo y convertir esta pagina web no solo en informativa sino en una tienda de libros usados donde la gente publique el libro que tenga para vender o que necesite comprar, o solo
    de a conocer libros, de manera publicitaria.

         

</p>
{% endblock contenido %}